<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
{% block contenido %}
<form method="POST">
    {% csrf_token %}
    <h1>Desea eliminar el Snippet {{ object.id }}</h1>

    <input type="submit" class="btn btn-primary" value="Confirmar">
    <a href="{% url 'snippet' object.id %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}